.DS_Store
home/.vim/.netrwhist
home/.emacs.d/elpa
home/.emacs.d/ido.last
home/.emacs.d/projectile-bookmarks.eld
home/.emacs.d/projectile.cache
home/.emacs.d/.mc-lists.el
home/.config/nvim/plugged
/home/.emacs.d/rake.cache
/home/.emacs.bak
/home/.emacs.d/eshell
/home/.emacs.d/forge-database.sqlite
/home/.emacs.d/tramp
/home/.emacs.d/url
/home/.emacs.d/request
/home/.emacs.d/transient
/home/.emacs.d/recentf
/home/.config/coc
/home/.config/hub
/home/.config/gh
/home/.config/stripe
/home/.config/configstore
/home/.config/nvim/.netrwhist
/home/.config/yarn
/home/.config/AWSVPNClient/
/home/.config/exercism/
/home/.config/emacs/
!/home/.config/emacs/init.org
!/home/.config/emacs/config.org
/home/.config/nvim/autoload/plug.vim.old
/home/.config/asdf-direnv/
/home/.config/direnv/lib/
