[user]
  name = Arjan van der Gaag
  email = arjan@Kabisa.nl
[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore
  editor = /usr/local/bin/vim
  autocrlf = input
  safecrlf = true
  quotepath = false
[apply]
  whitespace = nowarn
[difftool]
  prompt = false
[github]
  user = avdgaag
  password = !security 2>&1 >/dev/null find-generic-password -gs github.password | ruby -e 'print $1 if STDIN.gets =~ /^password: \\\"(.*)\\\"$/'
[branch]
  autosetuprebase = always
[mergetool]
  keepBackup = true
[difftool "Kaleidoscope"]
  cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[diff]
  tool = vimdiff
