[user]
  name = Arjan van der Gaag
  email = arjan@kabisa.nl
[color]
  ui = auto
[core]
  excludesfile = ~/.gitignore
  editor = /usr/local/bin/vim
  quotepath = false
[init]
  tepmlatedir = ~/.gittemplate
[apply]
  whitespace = nowarn
[difftool]
  prompt = false
[github]
  user = avdgaag
  password = !security 2>&1 >/dev/null find-generic-password -gs github.password | ruby -e 'print $1 if STDIN.gets =~ /^password: \\\"(.*)\\\"$/'
[branch]
  autosetuprebase = always
[mergetool]
  keepBackup = true
[difftool "Kaleidoscope"]
  cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[diff]
  tool = vimdiff
[credential]
	helper = osxkeychain
[rerere]
	enabled = true
[push]
	default = simple
