[user]
	name = Arjan van der Gaag
	email = arjan@arjanvandergaag.nl
[color]
	ui = auto
[core]
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
	quotepath = false
[apply]
	whitespace = nowarn
[difftool]
	prompt = false
[branch]
	autosetuprebase = always
[mergetool]
	keepBackup = true
  prompt = false
[diff]
	tool = vimdiff
	algorithm = patience
	compactionHeuristic = true
[credential]
	helper = osxkeychain
[rerere]
	enabled = true
[push]
	default = simple
[merge]
	conflictstyle = diff3
  tool = vimdiff
[alias]
	safe = !mkdir .git/safe
	unsafe = !rmdir .git/safe
	extend = !git commit --amend --no-edit
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[submodule]
	fetchJobs = 4
[github]
	user = avdgaag
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[pull]
	rebase = true
[init]
	defaultBranch = main
