priority -50

snippet des "describe" b
describe "${1:Subject}", ->
	$0
endsnippet

snippet it "it" b
it "${1:specification}", ->
	$0
endsnippet

snippet ita "it (asynchronous)" b
it "${1:specification}", (done) ->
	$0
endsnippet

snippet bef "beforeEach" b
beforeEach ->
	$0
endsnippet

snippet aft "afterEach" b
afterEach ->
	$0
endsnippet

snippet befa "beforeEach (asynchronous)" b
beforeEach (done) ->
	$0
endsnippet

snippet afta "afterEach (asynchronous)" b
afterEach (done) ->
	$0
endsnippet
