* {
  max-width: 80ch;
  margin: 0;
}
html,
body {
  color: #333;
  max-width: none;
  background: #f9f9f9;
  font-family: sans-serif;
  line-height: 1.5rem;
}
#content {
  margin-left: auto;
  margin-right: auto;
}
#content * + * {
  margin-top: 1.5rem;
}
pre {
  margin-left: -.75rem;
  margin-right: -.75rem;
  padding: .75rem;
  background: #fff;
  max-width: none;
  overflow-x: scroll;
  border: 1px solid #eee;
}
pre,
code {
  font-family: monospace;
}
.title {
  font-size: 3rem;
  line-height: 4.5rem;
}
#text-table-of-contents * {
  margin: 0;
}
.section-number-1,
.section-number-2,
.section-number-3,
.section-number-4,
.section-number-5 {
  float: left;
  margin-left: -4rem;
}
h2 {
  font-size: 2rem;
  margin-top: 3rem;
  line-height: 3rem;
}

h3 {
  font-size: 1.5rem;
  margin-top: 3rem;
  line-height: 3rem;
}
